html, body {
  color: #000;
  font-family: arial;
  width: 100%;
  height: 100%;
}

#drake {
  position: fixed;
  left: calc(50% - 2016px/2);
  top: 0;
  width: 2016px;
  height: 736px;
  background: url('/images/drake.png') no-repeat right top;
  display: none;
}

#credits {
  background: #ddd;
  border-radius: 3px;
  position: fixed;
  bottom: 3px;
  right: 3px;
  padding: 2px;
  font-family: arial;
}

a {
  color: #000;
  text-decoration: none;
}

#container {
  width: 100%;
  height: 100%;
}

#background {
  background: #000 url('/images/pattern.jpg') repeat right top;
  background-attachment: scroll;
  width: 100%;
  height: 100%;
}

#loading {
  z-index: 800;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: red;
}

#warmup {
  z-index: 700;
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  border-radius: 5px;
  background: #ffcc00;
  display: none;
}

#patron {
  z-index: 600;
  width: 100px;
  height: 160px;
  position: fixed;
  bottom: 12px;
  left: 30px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#patron.hey {
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

#patron.ho {
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

@media only screen and (max-width: 1000px) {
  #drake {
    background: url('/images/drake_mob.png') no-repeat right top;
    left: calc(50% - 1000px/2);
    top: 0;
    width: 1000px;
    height: 366px;
  }

  #patron {
    width: 50px;
    height: 80px;
    bottom: 10px;
    left: 17px;
  }
}
