body {
  background: #000;
}

#drake {
  position: fixed;
  left: calc(50% - 320px/2);
  top: 0;
  width: 320px;
  height: 600px;
  background: url('/images/drake.png') no-repeat right top;
}

footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
}

#background {
  width: 100%;
  height: 40000px;
  background: #000;
}
