body {
  background: #000;
}

#drake {
  position: fixed;
  left: calc(50% - 500px/2);
  top: 0;
  width: 500px;
  height: 450px;
  background-color: red;
}

footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
}

#background {
  width: 100%;
  height: 40000px;
  background: #000;
}
